#headerHome{
    color: white;
    position: fixed; /* ou "sticky" */
    top: 3%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#headerHome > span {
    font-size: larger;
    margin-left: 15px;
    font-weight: bold;
    font-size: 30px;
}

#headerHome > div{
    display: flex;
}

#homePresentation{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
    width: 65vw;
}

#homePresentation > h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
}

#homePresentation > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.55);
    width: 40vw;
}

#homePresentation > a {
    padding: 8px;
    background: #6E57D0;
    border-radius: 10px;
    color: white;
    width: 100px;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#buttonLogin{
    border-radius: 10px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    border: solid 1.5px white;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#buttonRegister {
    background: #E99500;
    border-radius: 10px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.des-container-home{
    background-image: url("./images/des_card.png");
    width: 110px;
    height: 110px;
    position: absolute;
    top: 50%;
    right: 23%;
}

.dollars-container-home{
    background-image: url("./images/dollard_card.png");
    width: 95px;
    height: 95px;
    position: absolute;
    top: 65%;
    right: 15.5%;
}

.crayon-container-home{
    background-image: url("./images/crayon_card.png");
    width: 95px;
    height: 95px;
    position: absolute;
    top: 67%;
    right: 30%;
}

