header {
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

    & h1 {
        font-weight: 800;
        font-size: 36px;
        color: white;
    }

    & nav {
        height: max-content;

        & ul {
            display: flex;
            flex-direction: row;
            gap: 40px;

            & li {
                list-style-type: none;

                & a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    
                    & a {
                        margin-top: 3px;
                        color: white;
                    }
                }
            }

            & .active {

                & a {
                    color: hsla(160, 100%, 37%, 1);
                };
    
                & svg {
                    color: hsla(160, 100%, 37%, 1);
                }
            }
        }
    }

    & .button-container {
        display: flex;
        flex-direction: row;
        gap: 40px;

        & .button {
            all: unset;
            height: max-content;
            border-radius: 15px;
            background-color: hsla(160, 100%, 37%, 1);
            outline: none;
            font-size: 20;
            font-weight: 700;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
            transition-duration: .3s;
            width: max-content;

            &--transparent {
                background-color: transparent !important;
            }
        }
    }
}

.icon {
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
}

.dropdown-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  max-width: 250px;
  padding: 40px 20px 20px 20px;
  height: 100%;
  background-color: #0b0c0f;
  top: 0;
  left: 0;
  z-index: 20;

  & ul {
    display: flex;
    flex-direction: column;
  }
  
  & li {
    margin-left: 0;

    & a {
      color: white;
    }
  }
}
