.access-denied {
    width: 100vw;
    height: 100vh;
    background-color: #17181F;
    display: flex;
    flex-direction: column;

    & .container {
        display: flex;
        flex-direction: column;
        padding: 100px 0 0 0;

        & h5 {
            font-weight: 800;
            font-size: 70px;
            text-align: center;
            color: hsla(160, 100%, 37%, 1);
        }

        & h4 {
            font-weight: 700;
            font-size: 40px;
            text-align: center;
            color: hsla(160, 100%, 37%, 1);
        }

        & p {
            color: lightgray;
            text-align: center;

            & .link {
                color: hsla(160, 100%, 37%, 1);
                cursor: pointer;
            }
        }
    }
}