.dashboard {
    width: 100vw;
    height: 100%;
    background-color: #17181F;
    display: flex;
    flex-direction: column;

    & .container {
        padding: 60px;
        flex-grow: 1;
        background-color: #17181F;

        & h3 {
            color: #A0AEC0;

            & span {
                color: white;
            }
        }

        & .user-list {
            margin-top: 40px;
            max-height: 40%;
            background-color: #17181F;
            overflow-x: scroll;
            overflow-x: hidden;
            padding-right: 5px;

            & .header {
                & h5 {
                    width: max-content;
                    margin: 0;
                    float: left;
                }

                & button {
                    width: max-content;
                    margin: 0;
                    background-color: hsla(160, 100%, 37%, 1);
                    border-radius: 15px;
                    margin-left: auto;
                    float: right;
                }
            }

            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #718096;
                border-radius: 20px; 
            }

            & h5 {
                font-weight: 700;
                font-size: 20px;
                color: white;
            }

            & .status {
                color: #FEFEFF;
            }

            & .date {
                color: #FEFEFF;
                text-align: center;
            }

            & .action {
                color: #718096;
                text-align: right;
            }
            
            & table {
                width: 100%;
                border-collapse: collapse;
                background-color: #17181F;

                & .header {
                    & th {
                        padding: 20px 0;
                    }
                }
                
                tr.user-row td {
                    border-top: 0.95px solid rgba(226, 232, 240, 0.6);
                    padding: 10px 0;
                    margin: 0;
                    position: relative;
                    
                    & .info {
                        height: max-content;
                    }
                    
                    & .img {
                        background-color: hsla(160, 100%, 37%, 1);
                        width: 40px;
                        height: 40px;
                        border-radius: 8px;
                    }

                    & img {
                        width: 40px;
                        height: 40px;
                        border-radius: 8px;
                        object-fit: contain;
                    }
                    
                    & .pseudo {
                        position: absolute;
                        left: 50px;
                        top: 10px;
                        font-weight: 600;
                        font-size: 13.3px;
                        line-height: 140%;
                        color: #FEFEFF;
                    }

                    & .mail {
                        position: absolute;
                        left: 50px;
                        top: 30px;
                        font-weight: 400;
                        font-size: 13.3px;
                        line-height: 140%;
                        color: #718096;
                    }
                }

                & th {
                    font-weight: 600;
                    font-size: 12px;
                    color: #A0AEC0;
                    &:first-child {
                        text-align: left;
                    }

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }   
    }
}