.stats {
    width: 100vw;
    height: 100vh;
    background-color: #17181F;
    display: flex;
    flex-direction: column;

    & .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 60px;
        height: max-content;
        background-color: #17181F;
        overflow-x: hidden;

        & h2 {
            font-size: 2rem;
            font-weight: 700;
            color: white;
        }

        & .game-history {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 0 !important;
            padding: 0 !important;
            width: 100%;

            & li {
                background-color: #252530;
                border-radius: 10px;
                padding: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & .right {
                    color: #A0AEC0;
                    font-size: 1.1rem;
                    font-weight: 500;
                    cursor: pointer;
                }

                & .left {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    & .header {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        align-items: center;

                        & .result {
                            background-color: hsla(160, 100%, 37%, 1);
                            padding: 5px 20px;
                            width: 100px;
                            border-radius: 50px;
                            text-align: center;
                            color: white;
                            font-size: 1rem;
                            font-weight: 400;
    
                            &--lose {
                                background-color: #D35A5A;
                            }

                            &--equality {
                                background-color: #fcba03;
                            }
                        }

                        & span {
                            font-size: 1.3rem;
                            font-weight: 500;
                            color: white;
                        }
                    }

                    & time {
                        color: #A0AEC0;
                        font-size: 0.8rem;
                        font-weight: 500;
                        margin-right: 10px;
                    }
                    & span {
                        color: #A0AEC0;
                        font-size: 0.8rem;
                        font-weight: 400;
                        margin-left: 10px;
                    }
                }
            }
        }

        & .global-stats {
            // display: flex;
            // flex-direction: row;
            // gap: 65px;
            // flex-wrap: wrap;
            // justify-content: center;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            grid-gap: 40px;

            & .card {
                background-color: #252530;
                border-radius: 10px;
                padding: 20px;
                height: 200px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                & h3 {
                    color: #A0AEC0;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
    
                & strong {
                    color: white;
                    font-weight: 800;
                    font-size: 4rem;
                }
    
                & p {
                    color: #A0AEC0;
                    font-size: 1rem;
                    font-weight: 500;
                    margin-top: auto;
    
                    & .win {
                        color: hsla(160, 100%, 37%, 1);
                        font-weight: 800;
    
                        &--lose {
                            color: #D35A5A;
                        }
                    }
                }
            }
        }
    }
}

